<?php

use Monolog\Logger;

/**
 * Database Connection
 */
$app['database.dbname'] = 'cheesecake';
$app['database.host']   = '127.0.0.1';
$app['database.user']   = 'root';
$app['database.passwd'] = '';

/**
 * API
 */
$app['api.secretKey'] = '';
$app['api.accessLevels'] = [
    0 => 'user',
    1 => 'modo',
    2 => 'admin'
];

/**
 * Log
 */
$app['log.location'] = __DIR__ . '/../logs/cheesecake.log';
$app['log.level']    = Logger::WARNING;

/**
 * Miscellaneous
 */
$app['timezone'] = 'UTC';
